// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;


$dark-pink: #9f5084;
$pink: #c593b4;
$green: #6ba980;
$dark-green: #36824b;

$gray: #555555;
$light-gray: #F4F4F4;
