<div class="container">
  <!-- CLASS... CONTAINER OR CARD PROPERTIES? now it's not using card.scss -->
  <h2><%= cocktail.name %></h2>
  <td>cocktail.photo</td>
  <td><%= link_to "show", cocktail, class: "btn" %></td>
</div>
