<html>
  <head>
  </head>

  <body>
    <div class="banner">
      <div class="banner-content">
        <div class="container">
          <h1>Mister Cocktail</h1>
        </div>
          <a href="/cocktails/new" class="btn btn-success" role="button">Add Your Own Cocktail</a>
      </div>
    </div>

    <div class="container-fluid">
      <div class="card">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <% @cocktails.each do |cocktail| %>
            <%= render "cocktails/card", cocktail: cocktail %>
          <% end %>
        </div>
      </div>
    </div>

  </body>
</html>
