<html>
  <head>
  </head>

  <body>
    <div class="container">
      <div class="banner">
        <h1>Mister Cocktail</h1>
        <a href="/cocktails/new" class="btn btn-success" role="button">Add Your Cocktail</a>
      </div>
    </div>

    <div class="paragraph-index">
      Thirsty? No matter if you're looking for a classic cocktail, a punch for a party or an original concoction, we have a cocktail recipe for every taste and occasion, just a shake, stir or pour away.
    </div>

    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <%= render "cocktails/card", cocktail: cocktail %>
      <% end %>
    </div>

  </body>
</html>
