<html>
  <head>
  </head>

  <body>
    <div class="banner">
      <div class="banner-content">
        <div class="container">
          <h1>Mistercocktail</h1>
        </div>
          <a href="/cocktails/new" class="btn btn-success" role="button">Add Your Own Cocktail</a>
      </div>
    </div>

    <div class="cocktails-index">
    </div>
  </body>

</html>
