.name-edit {
  margin-left: -11px;
  margin-top: -28px;
  padding-right: 8px;
}

.edit-img {
  min-width: 550px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  height: 340px;
}

.card-cocktail-edit {
  top: 10px;
  position: absolute;
  text-transform: uppercase;
}
