.container-edit-page {
  width: 700px;
  margin: 50px auto;
}

.cocktail-edit {
  position: relative;
  padding: 12px;
}

.name-edit {
  margin-left: -11px;
  margin-top: -28px;
  padding-right: 8px;
}

.edit-img {
  width: 20rem;
  height: 20rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-left: 15rem;
  box-shadow: 0 0 10px #cccccc94;
}

.cocktail-edit-name {
  top: 10px;
  position: absolute;
  text-transform: uppercase;
}
