.name-edit {
  margin-left: -11px;
  margin-top: -28px;
  padding-right: 8px;
}

.edit-img {
  width: 327px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 340px;
  margin-left: 199px;
  box-shadow: 0 0 10px #cccccc94;
}

.card-cocktail-edit {
  top: 10px;
  position: absolute;
  text-transform: uppercase;
}

h2 {
  font-family: "Amatic SC";
  color: $green;
}
