a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  background-color: #ced3de47;
}

h1 {
  font-size: 70px;
  color: #4e5416;
  opacity: 0.8;
  font-family: "Amatic SC";
  margin-bottom: 100px;
}

h2 {
  font-family: "Amatic SC";
  color: #a29c7f;
}
// Specific CSS for your home-page
.div {
  display: block;
}

.banner {
    background-image: url(/assets/pink-lemon.jpeg);
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 199px;
    padding-bottom: 180px;
    padding-top: 20px;
}

.banner-content {
  // border: 1px solid red;
  width: 900px;
  text-align: center;
}

.container {
  // border: 1px solid blue;
  width: 700px;
  margin: 50px auto;
  background-position: center;
}
