// Specific CSS for your home-page
body {
  margin: 0;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  background-color: $light-gray;
}

h1 {
  font-size: 100px;
  color: $green;
  font-family: "Amatic SC";
  text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1536599424071-0b215a388ba7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 7rem 0rem;
}
