.container-show-page {
  display: flex;
  margin: 42px;
}

.cocktail-show {
  position: relative;
  padding: 12px;
  width: 100%;
  p {
    color: $dark-green;
  }
}

.edit-icon {
  margin-left: 8rem;
  margin-bottom: -31px;
}

.fa-pencil-alt {
  color: $dark-green;
}

.cocktail-show-name {
  position: absolute;
  text-transform: uppercase;

  h3 {
    margin-left: 15px;
    margin-top: 8px;
  }
}

.show-img-page {
  height: 340px;
  max-width: 34rem;
  margin-left: 1rem;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 0 8px #cccccc94;
}

.dose-show-page {
  width: 84%;
}
