.cocktail-edit {
  margin-left: 669px;
  padding: 3px;
}

.fa-pencil-alt {
  color: $dark-green;
}


////////////////////////////////////////////////////////////////////
.cocktail-ingredients {
  border-radius: 3px;
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.card-cocktail-show {
  top: -26px;
  left: 29px;
  position: absolute;
  text-transform: uppercase;
}

.show-img {
  height: 340px;
}

.show-img {
  width: 527px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin-top: -32px;
  box-shadow: 0 0 10px #cccccc94;
}

.cocktail-show {
  position: relative;
  padding: 30px;
  margin: 50px auto;
  margin-top: 4px;
  margin-bottom: 17px;
  margin-left: 55px;
}

p {
  padding: 40px;
  margin-top: -60px;
  color: $dark-green;
}

