<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/romeiro-bru" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/romeiro-bruna/"><i class="fab fa-linkedin" target="blank"></i></a>
  </div>
  <a href="#top"><i class="fas fa-arrow-circle-up"></i></a>
  <div class="footer-copyright">
    <span>Made with <i class="fas fa-heart"></i></span>
  </div>
</div>
