
 <div class="navbar">
  <div class="navbar-icon">
    <!-- CHANGE href COCKTAIL -->
    <a href="/"><i class="fas fa-cocktail"></i></a>
  </div>
    <a href="#"><input class="form-control" type="text" placeholder="Search by name or ingredient"></a>
</div>
