.btn {
  background: $green;
  color: white;
  padding: 15px 13px;
  border-radius: 3px;
  text-decoration: none;
}

.btn-create-cocktail{
  padding: 10px 15px;
  background: $green;
  font-weight: bolder;
  border: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.btn:hover {
  opacity: 0.9;
  transition: 1s;
}

input[type="submit" i]{
 border-radius: 5px;
 color: white;
}
////// Btn from navbar - search ////////
.btn-search-cocktail {
  padding: 10px 15px;
  border: 0px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.11);
}
