.btn {
  background: #ff9c61;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.btn:hover {
  opacity: 0.5;
  transition: 0.5;
}

