////////////// STYLE COCKTAILS INDEX//////////////////
.cards {
  margin: 2% 9% 2% 9%;
}

.cocktail-card-photo {
  position: relative;
  padding: 24px 24px 2px 24px;
  display: inline-block;
}

.product-img {
  height: 290px;
  min-width: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 0 10px #cccccc94;

  &:hover {
    opacity: 0.6;
    transition: 1s;
  }
}

.card-cocktail-name {
  top: 13px;
  position: absolute;
  text-transform: uppercase;
}

.cocktail-list {
  display: grid;
}

h2, h3 {
  font-family: "Poppins";
  font-size: 16px;
  color: $pink;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  padding-left: 12px;
}
