////////////// STYLE COCKTAILS INDEX//////////////////
.card {
  margin-left: 110px;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // border: 1px solid pink;
}

.cocktail-card-photo {
  background-size: cover;
  background-position: center;
  color: white;
  height: 100%;
  min-width: 300px;
  position: relative;
  padding: 24px;
  padding-bottom: 2px;
  display: inline-block;
}

.product-img {
  height: 290px;
}

.product-img:hover {
  opacity: 0.6;
  -webkit-filter: brightness(80%);
}

.product-img {
  min-width: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 0 10px #cccccc94;
}

.card-cocktail-name {
  top: -6px;
  left: 21px;
  position: absolute;
  text-transform: uppercase;
}

.cocktail-list {
  display: grid;
}

h3 {
  font-family: "Amatic SC";
  font-weight: bold;
  color: #4e5416;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 30px;
  padding-left: 12px;
}

/////////////////STYLE NEW-COCKTAIL///////////////

.card-new-cocktail {
  background-image: url(/assets/pink-flower.jpeg);
  opacity: 0.7;
  background-size: cover;
  background-position: bottom;
  color: #f3bb9a;
  padding: 67px;
  /* padding-bottom: 0px; */
  /* padding-top: 249px; */
  border-radius: 3px;
}

.container-new-cocktail {
  // border: 1px solid blue;
  width: 880px;
  margin: 50px auto;
  background-position: center;
}

h2 {
 font-size: 48px;
 color: #4e5416 !important;
 margin-bottom: 55px;
 margin-top: 8px;
}

select {
  font-family: "Open Sans", "Helvetica", "sans-serif";
}
