.footer {
  background: $green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  font-size: 28px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.6;
  transition: 1s;
}
.footer .fa-heart {
  color: $dark-green;
}

.fa-arrow-circle-up {
  color: white;
  font-size: 24px;
}

.fa-arrow-circle-up:hover {
  opacity: 0.5;
  transition: 1s;
}
