.navbar {
  background-color: #97a283;
  color: #FFFFF4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding: 0px 45px;
  font-size: 35px;
  font-family: 'Amatic SC';
  font-weight: bold;
}

.navbar-icon {
  align-items: center;
  font-size: 45px
}

a {
  color: #fffff4;
}

.navbar i:hover {
  color: #d4d6c0;
  opacity: 0.6;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}
