.navbar {
  background-color: $green;
  display: flex;
  justify-content: space-between;
  padding: 13px 15px;
  font-size: 35px;
}

/* The animation code */
@keyframes fa-cocktail {
  from {color: #6ba980;}
  to {color: white;}
}

/* The element to apply the animation to */
.fa-cocktail {
  color: white;
  animation-name: fa-cocktail;
  animation-duration: 5s;
}

.navbar-icon {
  align-items: center;
  font-size: 40px
}

.navbar i:hover {
  opacity: 0.6;
  transition: 1s;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}
