/////// NAVBAR SEARCH //////
.form-control-search {
  background-color: $light-gray;
  color: $dark-pink;
  box-shadow: 0 0 10px #cccccc94;
  padding: 0.4rem 0rem;
  display: inline-block;
  width: auto;
  border-radius: 20px;
  border: 1px solid $light-gray;
  font-family: 'Poppins';
  font-size: 12px;
  text-align: center;
  }
//////// New Cocktail/Dose ////////////
.form-cocktail {
  font-size: 18px;
  max-width: 440px;
  color: $dark-green;
}

.form-control {
  background-color: $light-gray;
  color: $dark-pink;
  display: block;
  width: 100%;
  box-shadow: 0 0 10px #cccccc94;
  padding: 6px 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

input[type="file" i] {
  font-size: 15px;
}
