.form-control {
  display: block;
  width: 100%;
  box-shadow: 0 0 10px #cccccc94;
  padding: 6px 12px;
  font-size: 18px;
  color: #555555;
  background-color: #f8f6f6;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: 'Amatic SC';
  }

.form-cocktail {
  font-size: 18px;
  min-width: 80px;
  max-width: 440px;
  color: #4e5416;
  text-decoration: none;
}

input[type="file" i] {
  color: #97a2839e;
  font-size: 15px;
}
///////From NAVBAR //////
.form-search{
  display: flex;
}

